# Python
.env
.venv/
.DS_Store
.DS_Store
__pycache__
.ruff_cache
.DS_Store
*.log
app/environment.yml
curl_output.json
data/insumos_detalle.json
data/presupuesto_final.json
data/processed_apus.json
logs/app.log.1
test-results/
verify_frontend.spec.js
Miniconda3-latest-Linux-x86_64.sh
