# -- Índices de Paquetes ---
# 1. Usa la autopista principal (PyPI)
--index-url https://pypi.org/simple
# 2. Añade el desvío de PyTorch como una fuente EXTRA
--extra-index-url https://download.pytorch.org/whl/cpu

# --- Resto de dependencias de la aplicación ---

flask
lark
pandas
openpyxl
unidecode
fuzzywuzzy
python-dotenv
python-Levenshtein
Flask-Session
redis
sentence-transformers
psutil
pdfplumber
networkx<3.3