# --- Resto de dependencias de la aplicación ---

flask
lark
pandas
openpyxl
unidecode
fuzzywuzzy
python-dotenv
python-Levenshtein
Flask-Session
redis
sentence-transformers
psutil
pdfplumber
networkx<3.3